.pokemonList{
    background-color: #232323;
    border: 5px #DEDEDE solid;
}

.pokemonList img{
    max-width: 10em;
    min-width: 10em;
}



.searchForm{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 3em;
    width: 100%;
}

.searchForm input{
    border-radius: 8px 0px 0px 8px;
    float: left;
    width: 50%;
    display: block;
    outline: 0;

}

.searchForm button{
    border-radius: 0px 8px 8px 0px;
    padding: 8px 16px;
    float: left;
    width: 30%;
    border: 1px solid grey;
    display: block;
    outline: 0;


}

.buscar::before{
    content:"¿Quien es este pokemon?";
}

.numero::before{
    content: "Número";
}

table td {
    text-align: center !important;
}
table th {
    text-align: center !important;
}

.pokemonList td{
    align-content: center;
}

.pokemonList .info{
    margin: auto;
}

.newPokemon{
    width: 90%;
    margin: auto;
}

.newPokemon button{
    width: 100%;
}

.noEncontrado{
    background: yellow;
}

.w3-table-all tr:nth-child(even) {
    background-color: #2DA64F !important;
    color: white;
}

.w3-table-all tr:nth-child(odd) {
    background-color: #356643 !important;
    color: white;
}

table .w3-circle{
border: 2px solid white;
}

.w3-bordered tr, .w3-table-all tr {
    border-bottom: 0px solid #ddd !important;
}

.w3-table-all {
    border: 1px solid #513131 !important;
}

@media (max-width: 768px) {
.buscar::before{
    content: "Buscar";
}
    .pokemonList img {
        max-width: 4em;
        min-width: 4em;
    }

    table td {
        padding: 5px 5px !important;
    }
    table th {
        padding: 5px 0px !important;
    }
    .numero::before{
        content: "Num";
    }

}

@media (max-width: 480px) {
    .pokemonList img {
        max-width: 4em;
        min-width: 4em;
    }

    .w3-btn, .w3-button {
        border: none;
        display: inline-block;
        padding: 0px 4px !important;
        vertical-align: middle;
        overflow: hidden;
        text-decoration: none;
        color: inherit;
        background-color: inherit;
        text-align: center;
        cursor: pointer;
        white-space: nowrap;
    }

}