.imagenPokemon {
    display: flex;
    justify-content: center;
}

.pokemonImagen {
    max-width: 20em;
    width: 100%;
    height: auto;
}

.tipoImagen {
    max-width: 10em;
    width: 100%;
    height: auto;
    margin-top: 1em;
}

.nombreTipo {
    text-align: initial;
    font-size: 1.5em;

}

.descripcion {
    font-size: 1.2em;
    text-align: justify;
    width: 80%;
}

@media (max-width: 768px) {
    .w3-row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagenPokemon, .descripcionPokemon {
        width: 100%;
        height: auto;
    }
    .tipoImagen {
        margin-top: 1em;
        max-width: 8em;
        min-width: 8em;
    }

    .pokemonImagen{
        max-width: 15em;
        min-width: 10em;
        width: 100%;
        height: auto;
    }

    .descripcion {
        text-align: center; /* Centrar el texto */
        width: 100%; /* Que el contenedor ocupe todo el ancho */
        margin: 0 auto; /* Centrar el contenedor */
        padding: 1em; /* Espacio interno */
    }

    .nombreTipo {
        text-align: center;
        font-size: 1.6em;
        margin-left: 0;

    }
}

@media (max-width: 480px) {
     .tipoImagen {
        max-width: 6em;
        min-width: 6em;
    }



    .nombreTipo {
        font-size: 1.6em;
        margin-left: 0;
    }

    .descripcion {
        text-align: center; /* Centrar el texto */
        width: 100%; /* Que el contenedor ocupe todo el ancho */
        margin: 0 auto; /* Centrar el contenedor */
        padding: 0.5em; /* Ajustar espacio interno */
    }

    .w3-card-4{
        margin-bottom: 1.5em;
        width: 10em;
    }

}